/* .root {

} */

.select {
    border: 1px solid black;
    display: inline-block;
    padding: 3px;
    position: relative;
}

.main {
    border: 1px solid black;
    position: absolute;
    top:100%;
}

.main.closed {
    display: none;

} 
    

.light:hover {
    background-color: lightblue;
}